<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-grid id="container">
    <div *ngIf="!connecte;else questionnaire" >
      
      <ion-item>
        <ion-label position="stacked" for="pseudo">Votre Pseudo</ion-label><br>
        <ion-input type="text" id="pseudo" [(ngModel)]="pseudo" ></ion-input> 
      </ion-item>
      

     <ion-item>
      <ion-label position="stacked">Difficulté</ion-label><br>
      <ion-select [(ngModel)]="difficulte">
        <ion-select-option *ngFor="let item of listeDifficulte">{{item}}</ion-select-option>
      </ion-select><br>
     </ion-item>
      <ion-item-group>
        <ion-label for="save">
          <ion-toggle name="save" id="save"></ion-toggle>Sauvegarder mes informations
        </ion-label><br>
        <ion-button color="primary" type="submit" (click)="verifSaisie()">Commencez</ion-button>
      </ion-item-group>
        
      </div>
      
      <ng-template #questionnaire>
        <ion-item>
          <ion-label>Bienvenue <strong>{{pseudo}}</strong></ion-label><br>
          <ion-label>QUel temps fait-il ?</ion-label>
        </ion-item>

        <ion-buttons class="inline">
          <ion-button color="secondary" (click)="cacheBouton()">Réponse A</ion-button>
          <ion-button (click)="cacheBouton()">Réponse B</ion-button>
          <ion-button (click)="cacheBouton()">Réponse C</ion-button>
          <ion-button (click)="cacheBouton()">Réponse D</ion-button>
        </ion-buttons><br>
        <ion-buttons class="inline">
          <ion-button color="primary" (click)="deconnexion()">Se déconnecter</ion-button>
          <ion-button color="success" *ngIf="!cacher">Question suivante</ion-button>
        </ion-buttons>
      </ng-template>

  </ion-grid>
</ion-content>
